[submodule "FEX"]
	path = FEX
	url = https://github.com/sheltonsilas/FEX.git
	branch = fix/arm64cpp-host-win32
[submodule "wine"]
	path = wine
	url = https://github.com/sheltonsilas/wine.git
	branch = fix/arm64ec-wineboot
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/willfaust/dxmt.git
	branch = ios-port
[submodule "madeira-dock"]
	path = madeira-dock
	url = https://github.com/willfaust/madeira-dock.git
	branch = main
